<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="GymBeam\CrudTest\Controller\Index\Submit">
        <arguments>
            <argument name="crudTestFactory" xsi:type="object">GymBeam\CrudTest\Model\CrudTestFactory</argument>
        </arguments>
    </type>
</config>
